*{
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.nav-items {
    padding:5px;
    ul{
        display: flex;
        li{
            list-style-type: none;
            margin-left: 20px;
            font-size: 16px;
            padding-left: 28px;
        }:hover{
            text-decoration: underline;
        }
    }
}

.logo-image{
    height: 59px;
}

.list{
    width: 185px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-y: auto; /* Adds vertical scroll if content overflows */
    overflow-x: hidden;
    margin: 20px;
    // height: 259px;
    .card-content {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            margin-bottom: 10px;
            font-size: 16px;
        }
    }:hover{
        cursor: pointer;
    }
}

.display-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.image{
    width: 100%;
    height: 120px;
    margin-bottom: 7px;
    border-radius: 4px;
    object-fit: cover;
}

.filter-restaurants{
    margin-top: 27px;
    margin-left: 20px;
}

.circle {
    width: 20;
    height: 20;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 8px;
}

.online{
    width: 0;
    height: 20;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 8px;
}

.offline{
    width: 20;
    height: 20;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 8px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-text {
    font-size: 16px;
    color: #333;
    margin-right: 8px;
}

.duration{
    font-family: emoji;
    font-weight: bold;
}
.accordian-container{
    width: 819px;
    max-width: 100%;
    margin: auto;
    border: 1px solid #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
        .body{
            // margin: 20px 20px 20px 20px;
        }
}
.accordian-header{
    display: flex;
    justify-content: space-between;
     margin: 10px 10px 10px 10px;
        .title, .accordian-symbol{
            font-weight: bold;
            font-size: large;
            
        }
    cursor: pointer;
}


.item-name, .item-price, .item-rating, .item-description{
    list-style-type: none;
}

.item-details{
    border: 1px solid #fff;
    align-items: center;
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    display: flex;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 10px 10px;
} 

.item-image img {
    max-height: 100%;
    max-width: 100%;
    border:1px solid white;
    border-radius: 10px;
    
}

.quantity {
    display: flex;
    height: 28px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 15px;
    background-color: white;
    border: 1px solid rgb(220, 210, 210);
    border-radius: 50px;
}

.btn-quantity {
    border: none;
    background-color: white;
    cursor: pointer;
}

.add-to-cart {
    display: flex;
    height: 28px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 15px;
    background-color: white;
    border: 1px solid rgb(220, 210, 210);
    border-radius: 50px;
    width: 226px;
}